<div class="col-sm col-md col-lg mb-3" id="js-no-comment">
  <div class="card">
    <div class="card-body">
      <span class="text-muted"><%= t('comments.index.no_data') %></span>
    </div>
  </div>
</div>
