<footer id='footer' class="footer-bottom">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-12">
        <div class="copyright">
          <span>
            Copyright © 2018. RUNTEQ / SELECT LANGUAGE
            <%= link_to  "日本語(Japanese)", url_for(locale: :ja), class: 'badge badge-secondary' %>
            <%= link_to  "English", url_for(locale: :en), class: 'badge badge-secondary' %>
          </span>
        </div>
      </div>
    </div>
  </div>
</footer>