<div class="container">
  <div class="row">
    <h3><%= t('mails.password_resets.create.title') %></h3>
  </div>

  <div class="row">
    <div>こんにちは、<%= @user.decorate.full_name %>さん</div>
    <div>
      下記のリンクをクリックし、パスワードの再設定を行ってください。
    </div>
    <div>
      <%= link_to @url, @url %>
    </div>
    <div>
      今後ともよろしくお願いいたします!
    </div>
  </div>
</div>
